@inject IAddressService AddressService;

@if (address == null)
{
    <span>
        You haven't specified a delivery address, yet.
        <br />
        <br />
        <button class="btn btn-primary" @onclick="InitAddress">Add address</button>
    </span>
}
else if (!editAddress)
{
    <p>
        <span>@address.FirstName @address.LastName</span><br />
        <span>@address.Street</span><br />
        <span>@address.City, @address.State, @address.Zip</span><br />
        <span>@address.Country</span><br />
    </p>
    <button class="btn btn-primary" @onclick="EditAddress">Edit</button>
}


else
{
    <EditForm Model="address" OnSubmit="SubmitAddress">
        <div class="mb-3">
            <label for="firstname">First Name</label>
            <input id="firstname" @bind="address.FirstName" class="input-style" />
        </div>
        <div class="mb-3">
            <label for="lastname">Last Name</label>
            <input id="lastname" @bind="address.LastName" class="input-style" />
        </div>
        <div class="mb-3">
            <label for="street">Street</label>
            <input id="street" @bind="address.Street" class="input-style" />
        </div>
        <div class="mb-3">
            <label for="city">City</label>
            <input id="city" @bind="address.City" class="input-style" />
        </div>
        <div class="mb-3">
            <label for="state">State</label>
            <input id="state" @bind="address.State" class="input-style" />
        </div>
        <div class="mb-3">
            <label for="zip">ZIP/Postal Code</label>
            <input id="zip" @bind="address.Zip" class="input-style" />
        </div>
        <div class="mb-3">
            <label for="country">Country</label>
            <input id="country" @bind="address.Country" class="input-style" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}

@code {
    Address address = null;
    bool editAddress = false;


    protected override async Task OnInitializedAsync()
    {
        address = await AddressService.GetAddress();
    }

    private void InitAddress()
    {
        address = new Address();
        editAddress = true;
    }

    private async Task SubmitAddress()
    {
        editAddress = false;
        address = await AddressService.AddOrUpdateAddress(address);
    }

    private void EditAddress()
    {
        editAddress = true;
    }
}
